<footer style="background: linear-gradient(to right, #4F46E5, #A855F7); color: white; text-align: center; padding: 12px 0; margin-top: 40px;">
    <p class="m-0">&copy; 2025 Samuel Yang's Note App</p>
</footer>
